@charset "UTF-8";

/*
=============== 
Fonts
===============
*/

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/roboto.ttf);
}

/*
=============== 
Variables
===============
*/

:root {
  --clr-black: #222;
  --clr-white: #f2f2f2;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --transition: all 0.3s;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
}

/* body {
  font-size:calc(15px + 0.390625vw);
} */

img {
  width: 100%;
  object-fit: cover;
}

ul {
  margin-left: 2rem;
}

li {
  font-family: var(--ff-primary);
  font-size: 1rem;
  margin-bottom: .8rem;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
  transition: var(--transition);
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-family: var(--ff-primary);
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: var(--clr-black);
}

/*
=============== 
Header
===============
*/

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--clr-black);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: var(--max-width);
  padding: .5rem 3rem 0;
}

.title {
  width: 50%;
  min-width: 150px;
  max-width: 320px;
}

#fraseEfeito p{
  animation: .5s 1 linear fade-in;
}

.header-container .img-box {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  max-width: 400px;
}

.header-container .img-box img {
  min-width: 210px;
  transition: width .3s;
  user-select: none;
}

.title hr {
  width: 200px;
  margin: .5rem 0;
  transition: var(--transition);
}

#fraseEfeito {
  height: 60px;
}

.title span {
  display: block;
}

/*
=============== 
Projects
===============
*/

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 385px;
  width: 100%;
  border-bottom: 1px solid var(--clr-black);
  justify-items: center;
}

.projects div {
  width: 100%;
}

.projects .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .preview {
  height: 80%;
  width: 80%;
  border: 1px solid var(--clr-black);
  border-radius: 20px;
  transition: var(--transition);
}

.projects .description {
  height: 100%;
  padding: 1rem;
}

.projects .description h2 {
  display: block;
  margin-bottom: 2rem;
  padding: .5rem 0 .5rem 2rem;
  border-radius: 30px 0 0 30px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.308));
  cursor: pointer;
}

.description h2:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
  letter-spacing: .2rem;
}
.projects .description .text-box {
  padding-left: 1.5rem;
  border: none;
}

/*
=============== 
About
===============
*/
#about {
  margin: auto;
  padding: 1rem;
  width: 60%;
  min-width: 300px;
  max-width: 600px;
}

#about h2 {
  text-align: right;
  margin-bottom: 3rem;
}

#about a {
  font-weight: bold;
  transition: var(--transition);
}

#about a:hover {
 color: rgb(121, 121, 121);
}

/*
=============== 
Footer
===============
*/

footer {
  text-align: center;
  letter-spacing: .2rem;
  font-weight: bold;
  background-color: #2a9fff;
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: .85rem;
  }
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .projects .description h2 {
    display: block;
    padding: .5rem;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.267), rgba(255, 255, 255, 0) 80%);
    text-align: center;
    border-radius: 10px;
  }
  
  .title span {
    display: inline;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    padding: 1rem 0;
  }

  .projects .preview {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  .header-container {
    flex-direction: column;
    gap: 1rem;
  }

  header .title {
    width: 100%;
    order: 1;
    text-align: center;
    padding-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
    transition: none;
  }
  .projects .description h2 {
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 30px;
    background-image: none;
    background-color: rgba(94, 94, 94, 0.425);
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: .85rem;
  }

  p {
    font-size: 1rem;
  }


  .title span {
    display: inline;
  }

  .title hr {
    width: 100%;
  }

  .header-container .img-box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px inset rgba(0, 0, 0, 0.678);
    background-color: var(--clr-white);
    
  }

  .header-container img {
    border-radius: 50%;
    background-color: var(--clr-white);
    border: 1px inset black;
  }

  .header-container .img-box::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: -5px;
    left: 20px;
    border-radius: 50%;
    background-color: #11111169;
    z-index: -1;
    animation: .5s 1 linear fade-in forwards;
  }

  .projects .description h2:hover {
    background-color: var(--clr-black)
  }
}

@media screen and (max-width: 400px) {
  p {
    font-size: 18px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
}
to {
    opacity: 1;
}
}