@font-face {
    font-family: "Young Serif";
    src: url(fonts/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Cinzel";
    src: url(fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-ExtraBold.ttf);
    font-weight: bold;
}

/*======================
    Variáveis
======================*/

:root {
    --clr-white: #EFEFEF;
    --clr-chalk: #D0D0D0;
    --clr-black: #333;
    --clr-red: #c81c24;
    --transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

*, *::after, *::before  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    background-color: var(--clr-white);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: "Young Serif";
    color: var(--clr-black);
    font-size: 1.4rem;
}

h2 {
    font-family: "Open Sans";
    font-weight: bold;
}

h5 {
    text-align: center;
    font-family: "Cinzel";
}

i {
    margin: 0 .2rem;

    font-size: 1.5rem;

    cursor: pointer;

    transition: all 300ms ease;
}



/*======================
    Título e logotipo
======================*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 80px;
    padding: 1rem;
    margin-bottom: 2rem;

    background-image: linear-gradient(to right, #1f1f1f, transparent, #1f1f1f), url(midia/chalkboard-bg.jpg);
    background-position: center center;

    border-bottom: 3px solid black;
}

.header-title {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

}

.header-title h1 {
    display: block;
     
    position: relative;
    bottom: 5px;

    color: var(--clr-chalk);
    text-align: center;

    z-index: 1;
}

.header-title img {
    display: block;

    position: relative;
    bottom: 20px;

    height: 80px;

    user-select: none;
    pointer-events: none;

    z-index: 2;
}

.header-frame-container {
    display: block;

    position: absolute;
    left: 50%;
    top: 15px;

    width: 150px;
    height: 50px;

    transform: translateX(-50%);
    overflow: hidden;
}

#header-frame {
    content: "";
    position: relative;

    width: 150px;
    height: 150px;

    border: 10px solid rgba(88, 88, 88, 0.284);
    border-radius: 50% 50% 0 0;
}

/*======================
    Social
======================*/

/*======================
    Destaques
======================*/

#destaque {
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    height: 500px;
}

#destaque .box {
    display: flex;
    justify-content: center;
    position: absolute;

    width: 100%;
    max-width: 700px;

    overflow: hidden;

    cursor: pointer;

    transition: left 300ms ease, transform 300ms ease;
}

#destaque .box .info {
    position: absolute;
    left: 100%;

    width: 200px;
    height: 100%;

    padding: .5rem;

    background-color: black;
    transition: transform 300ms ease;
}

#destaque .box .info {
    color: white;
}

#destaque .box:hover .info {
    transform: translateX(-100%);
}

#destaque .info h2 {
    text-align: center;
}

#destaque .info hr {
    margin: .5rem 0;
}

#destaque .info p {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* .box:hover .info {
    position: absolute;
    transform: translateX(-100%);
    width: 200px;
    height: 100%;
    background-color: black;
    z-index: 1;
} */

#destaque .box img {
    width: 100%;
    min-width: 350px;
    border-radius: 5px;
}

#destaque .box.main-box {
    left: 50%;
    transform: translate(-50%);
}

#destaque .box.left-box {
    left: 0%;
    transform: translateX(-100%);
  }

#destaque .box.right-box {
right: 0%;
transform: translateX(100%
);
transition: none;
scale: 0;
}

  @media (max-width: 600px) {
    #destaque {
        height: 410px;
    }
}

  @media (max-width: 400px) {
    #destaque {
        height: 300px;
    }
}

/*======================
    Menu de navegação
======================*/
.header-nav-button {
    margin-left: auto;
}
/* === Menu === */
.header-menu {

    position: absolute;
    top: 0;
    left: 100%;

    width: 70%;
    height: 0;

    background-color: var(--clr-black);
    color: var(--clr-chalk);
    border-left: 2px solid rgba(199, 199, 199, 0.51);

    transition: left 400ms cubic-bezier(0.83, 0.11, 0.14, 1.04), height 401ms step-end;

    overflow: hidden;

    z-index: 2;
}

/* show menu */
#header-menu-toggle:checked ~ .header-menu {
    height: 100%;
    left: 30%;
    transition: left 400ms cubic-bezier(0.83, 0.11, 0.14, 1.04), height 1ms step-end;
}

.header-menu li {
    display: flex;
    justify-content: start;

    margin: 0;
    padding: 0.5rem 0;

    width: 100%;

    cursor: pointer;

    z-index: 2;
}

/* === Botão === */
.header-menu-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    position: relative;

    height: 30px;
    width: 30px;
    
    cursor: pointer;

    z-index: 3;
}

#header-menu-toggle {
    display: none;
}

.header-menu-button,
.header-menu-button::before,
.header-menu-button::after {
    display: block;

    position: absolute;

    height: 4px;
    width: 30px;

    background-color: #fff;
    border-radius: 2px;

    transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);

    z-index: 3;
}

.header-menu-button::before {
    content: '';
    margin-top: -8px;
}

.header-menu-button::after {
    content: '';
    margin-top: 8px;
}

#header-menu-toggle:checked + .header-menu-button-container .header-menu-button {
    width: 20px;
}

#header-menu-toggle:checked + .header-menu-button-container .header-menu-button::after {
    width: 10px;
}

/*======================
    Modal
======================*/
.modal {
    display: none;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: #33333346;

    z-index: 1;
}

#header-menu-toggle:checked ~ .modal {
    display: block;
}

/*======================
    Secções
======================*/

#acougue {
    min-height: 100vh;
}

.section-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;

    height: 110px;
    width: 100%;

    cursor: pointer;
}

.section-icon {
    width: 50px;
    
    transform: scale(0.8);

    transition: transform 300ms ease;

    z-index: 1;
}

.section-title {
    z-index: 1;
    color: var(--clr-black);
    text-align: center;

    transition: color 300ms ease-out;
}

.bar-fill {
    position: absolute;
    height: 110px;
    width: 100%;

    transform: scaleY(0.5);

    background-image: linear-gradient(to right, transparent, rgba(202, 202, 202, 0.782), transparent);

    transition: all 300ms ease;
    
    z-index: 0;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    z-index: 1;
}

.circle-fill {
    position: absolute;
    width: 100px;
    height: 100px;

    background-color: var(--clr-red);

    border-radius: 50%;

    transform: scale(0);

    transition: transform 500ms cubic-bezier(0.25, 0.1, 0.34, 1.43);
    z-index: 0;
}

.section-bar:hover .bar-fill {
    transform: scaleY(1);
    background-image: none;
    background-color: var(--clr-black);
}

.section-bar:hover .section-icon {
    transform: scale(1);
}

.section-bar:hover .section-title {
    color: var(--clr-chalk);
}

.section-bar:hover .circle-fill {
    transform: scale(1);
}

/* Item Box */

#acougue .item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: auto;
    max-width: 900px;
    height: 300px;

    border: 1px solid black;

    margin-bottom: 1rem;
}

#acougue .item-container .box {
    display: grid;
    grid-template-rows: auto;
    position: absolute;
    left: 50%;
    
    width: 200px;
    height: 250px;

    padding: .5rem;
  
    background-color: white;

    border-radius: 10px;

    box-shadow: 1px 1px 1px 1px black;
  
    transform: scale(0);
  
    transition: all 300ms ease;
    z-index: -1;

    pointer-events: none;

  }

  #acougue .item-container .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 250px;
  }

  #acougue .item-container .button-container .button {
    padding: .5rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    z-index: 4;
  }
  
  #acougue .item-container .box.main-box {
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: 3;
    pointer-events: all;
  }
  
  #acougue .item-container .box.left-box {
    left: 25%;
    transform: translateX(-50%) scale(0.5);
    z-index: 2;
  }
  
  #acougue .item-container .box.right-box {
    left: 75%;
    transform: translateX(-50%) scale(0.5);
    z-index: 2;
  }
  
  #acougue .item-container .box.back-box {
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    z-index: 1;
  }
  
  #acougue .item-container .box.start-box {
    left: 100%;
    transform: scale(0.5);
    z-index: 1;
    transition: none;
  }

  #acougue .item-container .box img {
    width: 100%;
    border-radius: 10px;
  }

  #acougue .item-container .box .item-details {
    display: flex;
    justify-content: space-between;
  }

  #acougue .item-container .box .buy {
    display: flex;
    justify-content: end;
    align-self: flex-end;
  }

  #acougue .item-container .box .buy > div {
    display: flex;
    background-color: var(--clr-white);
  }

  #acougue .item-container .box .buy .item-counter {
    text-align: center;
    padding: 0 .5rem;
    width: 40px;
  }

  #acougue .item-container .box .buy #add,
  #acougue .item-container .box .buy #remove {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    font-weight: bold;

    cursor: pointer;
  }


/*======================
    Footer
======================*/

footer {
    height: 100px;

    background-image: linear-gradient(to right, #1f1f1f, transparent, #1f1f1f), url(midia/chalkboard-bg.jpg);
    background-position: center center;

    border-top: 3px solid black;
}


.red {
    color: var(--clr-white);
}

.blue {
    color: var(--clr-white);
}